<main>
  <form class="day-expense">
    <dr-date [type]="'text'" [viewType]="'day'" name="date" [nameShow]="false" [dateName]="" [ngModel]="date" (ngModelChange)="changeDate($event)" ></dr-date>
    <!-- [initDate]="date" (setDate)="changeDate($event)" -->
    <span>
      总计:-{{expenseService?.totalDayAmount}}元
    </span>
  </form>
  <ul *ngIf="expenseService?.expenseList && expenseService?.expenseList.length">
    <li (click)="goDetail(item)" *ngFor="let item of expenseService?.expenseList">
      <span>
        {{item.expenseBookName}}
      </span>
      <span>
        -{{item.totalAmount}}元
      </span>
    </li>
  </ul>

  <div *ngIf="!(expenseService?.expenseList && expenseService?.expenseList.length)" class="no-expense">
    未有支出
  </div>
</main>
