<main>
  <div class="day-expense">
    <span>
      今日支出
    </span>
    <span>
      总计:-{{expenseService?.totalDayAmount}}元
    </span>
  </div>
  <ul *ngIf="expenseService?.expenseList && expenseService?.expenseList.length">
    <li (click)="goDetail(item)" *ngFor="let item of expenseService?.expenseList">
      <span>
        {{item.expenseBookName}}
      </span>
      <span>
        -{{item.totalAmount}}元
      </span>
    </li>
  </ul>

  <div *ngIf="!(expenseService?.expenseList && expenseService?.expenseList.length)" class="no-expense">
    今日未有支出
  </div>
</main>
