<main>
  <div class="day-expense">
    <span (click)="getCal()" *ngIf="!isShowCal">
      {{showDate}}
    </span>
    <input type="date" [hidden]="!isShowCal" name="selectDate" [ngModel]="selectDate" (ngModelChange)="changeDate($event)">
    <span>
      总计:-{{expenseService?.totalDayAmount}}元
    </span>
  </div>
  <ul *ngIf="expenseService?.expenseList && expenseService?.expenseList.length">
    <li (click)="goDetail(item)" *ngFor="let item of expenseService?.expenseList">
      <span>
        {{item.expenseBookName}}
      </span>
      <span>
        -{{item.totalAmount}}元
      </span>
    </li>
  </ul>

  <div *ngIf="!(expenseService?.expenseList && expenseService?.expenseList.length)" class="no-expense">
    未有支出
  </div>
</main>
