<main>
  <label *ngIf="title">{{title}}:</label>
  <section #participantListEle>
    <div class="content" #contentEle>
      <div class="chip" *ngFor="let item of selectedParticipantList">
        <i class="icon icon-people"></i>
        {{item?.name}}
        <a class="btn btn-clear" (click)="delete(item)" aria-label="Close" role="button"></a>
      </div>
      <input tabindex="-1" name="filterParticipant" id="participant-list" [(ngModel)]="filterParticipant"
        class="form-input input-sm" type="text" placeholder="添加参与人">
    </div>
    <ul class="menu" [style.top]="top+'px'" *ngIf="ulShow">
      <li class="menu-item" *ngFor="let item of list" (click)="select(item)">
        <a>
          <span>
            {{item?.name}}
          </span>
          <i *ngIf="item?.selected" class="icon icon-check"></i>
        </a>

      </li>
      <li class="add">
        <button tabindex="-1" class="btn btn-primary btn-sm" (click)="add()"><i class="icon icon-plus"></i>
          添加参与人</button>
      </li>
    </ul>
  </section>
</main>
