:host {
  flex-grow: 1;
}

i {
  cursor: pointer;
}

.chip {
  -webkit-app-region: no-drag;
}

.chip a:hover {
  background: #000;
  border-radius: 50%;
  color: #fff;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  width: 20px;
}

.content {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #4b48d6;
  padding-bottom: 2px;
  flex-wrap: wrap;

  i {
    margin: 0 3px;
  }
}

input {
  width: 100px;
  border: none;
  flex-grow: 1;
}

ul {
  padding: 0;
  border-radius: .1rem .1rem 0 0;
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-x: hidden;
  overflow-y: scroll;

  li {
    cursor: pointer;
  }

  button {
    width: 100%;
    border-radius: 0;
  }
}


.choice {
  background: #f1f1fc;
  color: #5755d9;
}

.menu-item a {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu .menu-item {
  padding: 0;
}

.menu .menu-item>a {
  margin: 0;
}


.add {
  position: sticky;
  bottom: 0;

  button {
    width: 100%;
  }
}


ul::-webkit-scrollbar {
  display: none;
}


input:focus {
  box-shadow: none;
}
