<main>
  <label *ngIf="title">{{title}}:</label>
  <section #participantListEle>
    <div #contentEle class="has-icon-right">
      <input type="text" [style.border-color]="ulShow?'#5755d9':'#bcc3ce'" readonly name="selectedParticipantNames"
        [ngModel]="selectedParticipantNames" id="participant-list" class="form-input" placeholder="添加参与人">
      <i class="form-icon icon icon-arrow-down"></i>
    </div>
    <ul id="participant-ul" class="menu" [style.display]="ulShow?'block':'none'">
      <li [id]="'participant_'+item.id" class="menu-item" *ngFor="let item of list" (click)="select(item)">
        <a [class.choice]="choiceItem && (choiceItem.id === item.id)">
          <span>
            {{item?.name}}
          </span>
          <i *ngIf="item?.selected" class="icon icon-check"></i>
        </a>
      </li>
      <li class="add">
        <button tabindex="-1" type="button" class="btn btn-primary btn-sm" (click)="add()"><i
            class="icon icon-plus"></i>
          添加参与人</button>
      </li>
    </ul>
  </section>
</main>
