main {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
  -webkit-app-region: no-drag;
  // border: 1px solid #5755d9;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

main>ul {
  height: 200px;
  flex-grow: 1;
  border: 1px solid #dedede;
  border-radius: 0px 0 3px 3px;
  border-top: none;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: scroll;
}


.day-expense {
  height: 44px;
  display: flex;
  background: #5755d9;
  border: 1px solid #5755d9;
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7px;
}

.day-expense>span:first-of-type {
  display: inline-flex;
  cursor: pointer;
  align-items: center;

  i {
    margin-right: 5px;
  }
}

.expense-detail-list ul {
  border: 1px solid #dedede;
  border-bottom: none;
}

.expense-detail-list ul:first-of-type {
  border-top: none;
}

.expense-detail-list ul:last-of-type {
  border-bottom: none;
}

.expense-detail-list>li {
  display: flex;
  align-items: center;
  border: 1px solid #dedede;
  border-left: none;
  border-right: none;
  border-top: none;
}

.expense-category {
  padding: 0 5px;
  width: 70px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.expense-detail {
  flex-grow: 1;
}

.expense-detail li {
  cursor: pointer;
}

.expense-detail li:hover {
  background: #dedede;
}

.expense-detail li div {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
}

.expense-detail li div:first-of-type {
  border-bottom: 1px dashed #dedede;
}

.expense-detail li div span {
  flex-grow: 1;
  margin: 3px 2px;
}

.expense-detail li div span:first-of-type {
  width: 40%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.expense-detail li div span:last-of-type {
  text-align: right;
  width: 40%
}



ul::-webkit-scrollbar {
  display: none;
}
