<main>
  <form #form="ngForm">
    <div class="columns">
      <div class="column col-6">
        <address-select name="address-select" [title]="'收入地点'" [(ngModel)]="addressId"></address-select>
      </div>
      <div class="column col-6">
        <fund-party-select name="fund-party" [title]="'付款方'" [type]="1" name="fund-party" [(ngModel)]="fundPartyId">
        </fund-party-select>
        <!-- <fund-party-select [title]="'付款方'" [type]="2" (setFundParty)="onSetFundParty($event)"
          [fundPartyId]="fundPartyId">
        </fund-party-select> -->
      </div>
    </div>

    <div class="columns">
      <div class="column col-6">
        <incomeCategory-select [title]="'收入类别'" (setCategory)="onSetCategory($event)"
          [incomeCategoryId]="incomeCategoryId"></incomeCategory-select>
      </div>
      <div class="column col-6">
        <label class="form-label">
          收款金额:
        </label>
        <div class="input-group">
          <input class="form-input" #amountInputEle type="number" step="0.01" placeholder="收入金额" name="amount"
            [(ngModel)]="amount">
          <span class="input-group-addon">元</span>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column col-6">
        <fundChannel-select name="fundChannel" [title]="'收款渠道'" [(ngModel)]="fundChannelId"></fundChannel-select>
      </div>
      <div class="column col-6">
        <fund-account-select [title]="'存入账户'" name="fund-account" [fundChannelId]="fundChannelId" [filterCredit]="true"
          [(ngModel)]="fundAccountId">
        </fund-account-select>
      </div>
    </div>


    <div class="columns">
      <div class="column col-6">
        <dr-date [type]="'input'" [name]="'开始日期'" [nameShow]="true" [size]="'middle'" [viewType]="'day'"
          [initDate]="startDate" (setDate)="onSetDate($event)"></dr-date>
      </div>
      <div class="column col-6">
        <dr-date [type]="'input'" [name]="'结束日期'" [nameShow]="true" [size]="'middle'" [viewType]="'day'"
          [initDate]="endDate" (setDate)="onSetDate($event)">
        </dr-date>
      </div>
      <!-- <div class="column col-4">
        <dr-date [type]="'input'" [name]="'收款日期'" [viewType]="'day'" [initDate]="endDate" (setDate)="onSetDate($event)">
        </dr-date>
      </div> -->
    </div>

    <div class="columns detail">
      <participant-select [title]="'参与'" (setParticipantList)="onSetParticipantList($event)"
        [hasParticipantList]="participantList"></participant-select>
    </div>

    <div class="columns detail">
      <label-select [title]="'标签'" [type]="'1'" (setLabelList)="onSetLabelList($event)" [hasLabelList]="labelList">
      </label-select>
    </div>
    <div class="columns detail">
      <memo [title]="'备注'" [maxNumber]="500" [hasMemo]="memo" (setMemo)="onSetMemo($event)"></memo>
    </div>
  </form>

  <div class="dr-btn-group" *ngIf="!editOrDelFlag && addFlag">
    <button class="btn btn-primary" (click)="add()">
      <i class="icon icon-plus"></i> 添加
    </button>
    <button class="btn btn-Secondary" (click)="reset()">
      <i class="icon icon-refresh"></i> 重置
    </button>
  </div>
  <div class="edit-del" *ngIf="editOrDelFlag && !addFlag">
    <div class="dr-btn-group">
      <button class="btn btn-primary" (click)="edit()">
        <i class="icon icon-edit"></i> 编辑
      </button>
      <button class="btn btn-error" (click)="del()">
        <i class="icon icon-delete"></i> 删除
      </button>
    </div>
    <button class="btn btn-link go-add" (click)="goAdd()">
      <i class="icon icon-share"></i> 添加收入
    </button>
  </div>

</main>
