:host {
  flex-grow: 1;
  width: 20px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

form {
  padding: 5px 20px;

  .detail {
    margin: 10px 0;
  }
}

.dr-btn-group {
  display: flex;
  align-items: center;
  margin: 10px 20px;
  justify-content: center;

  button {
    margin-right: 20px;
    font-size: 14px;
  }
}

.group-date {
  display: flex;
  position: relative;
}

// .income-select {
//   width: 59px;
//   font-size: 0.7rem;
//   padding: 0;
//   margin: 0;
//   height: auto;
//   padding-left: 0.2rem;
//   margin-top: .3rem;
//   border-radius: 0;
//   border: none;
//   margin-left: .2rem;
// }

// .income-select:focus {
//   box-shadow: none;
// }

.income-divider {
  display: block;
  padding-left: .4rem;
  padding-right: 0.5rem;
}

.income-divider::before {
  border-left: .08rem solid #4b48d6;
  content: "";
  display: block;
  position: absolute;
  top: .5rem;
  height: 0.8rem;
}




.edit-del {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .btn-group {
    margin: 10px 0px;
  }
}

.go-add {
  position: absolute;
  right: 0;
  font-size: 14px;
}
