<main>
  <form [formGroup]="incomeForm">
    <div class="columns">
      <div class="column col-6"
        [class.has-error]="incomeForm.get('address').errors && (incomeForm.get('address').dirty || incomeForm.get('address').touched)">
        <address-select formControlName="address" [(ngModel)]="income.addressId" [title]="'地点'">
        </address-select>
        <p class="form-input-hint"
          *ngIf="incomeForm.get('address').errors && (incomeForm.get('address').dirty || incomeForm.get('address').touched)">
          收入地点不能为空</p>
      </div>

      <div class="column col-6"
        [class.has-error]="incomeForm.get('fundParty').errors && (incomeForm.get('fundParty').dirty || incomeForm.get('fundParty').touched)">
        <fund-party-select formControlName="fundParty" [(ngModel)]="income.fundPartyId" [title]="'付款方'" [type]="2">
        </fund-party-select>
        <p class="form-input-hint"
          *ngIf="incomeForm.get('fundParty').errors && (incomeForm.get('fundParty').dirty || incomeForm.get('fundParty').touched)">
          付款方不能为空
        </p>
      </div>
    </div>

    <div class="columns">
      <div class="column col-6"
        [class.has-error]="incomeForm.get('incomeCategory').errors && (incomeForm.get('incomeCategory').dirty || incomeForm.get('incomeCategory').touched)">
        <incomeCategory-select [title]="'收入类别'" formControlName="incomeCategory" [(ngModel)]="income.incomeCategoryId">
        </incomeCategory-select>
        <p class="form-input-hint"
          *ngIf="incomeForm.get('incomeCategory').errors && (incomeForm.get('incomeCategory').dirty || incomeForm.get('incomeCategory').touched)">
          收入类别不能为空
        </p>
      </div>
      <div class="column col-6"
        [class.has-error]="incomeForm.get('amount').errors && (incomeForm.get('amount').dirty || incomeForm.get('amount').touched)">
        <label class="form-label">收入金额</label>
        <div class="input-group">
          <input class="form-input" formControlName="amount" [(ngModel)]="income.amount" type="number" step="0.01"
            placeholder="收入金额" #amountInputEle>
          <span class="input-group-addon">元</span>
        </div>
        <p class="form-input-hint"
          *ngIf="incomeForm.get('amount').errors && (incomeForm.get('amount').dirty || incomeForm.get('amount').touched)">
          收入金额不能为空
        </p>
      </div>
    </div>

    <div class="columns">
      <div class="column col-6"
        [class.has-error]="incomeForm.get('fundChannel').errors && (incomeForm.get('fundChannel').dirty || incomeForm.get('fundChannel').touched)">
        <fundChannel-select formControlName="fundChannel" [(ngModel)]="income.fundChannelId" [title]="'收款渠道'">
        </fundChannel-select>
        <p class="form-input-hint"
          *ngIf="incomeForm.get('fundChannel').errors && (incomeForm.get('fundChannel').dirty || incomeForm.get('fundChannel').touched)">
          收款渠道不能为空
        </p>
      </div>

      <div class="column col-6"
        [class.has-error]="incomeForm.get('fundAccount').errors && (incomeForm.get('fundAccount').dirty || incomeForm.get('fundAccount').touched)">
        <fund-account-select formControlName="fundAccount" [title]="'存入账户'" [fundChannelId]="income.fundChannelId"
          [(ngModel)]="income.fundAccountId" [filterCredit]="true">
        </fund-account-select>
        <p class="form-input-hint"
          *ngIf="incomeForm.get('fundAccount').errors && (incomeForm.get('fundAccount').dirty || incomeForm.get('fundAccount').touched)">
          存入账户不能为空
        </p>
      </div>

    </div>

    <div>
      <div class="group-date">
        <label class="form-label">
          收款周期
        </label>
        <div class="income-divider"></div>
        <select class="form-select select-sm income-select" formControlName="dateCycle" [ngModel]="income.dateCycle"
          (ngModelChange)="selectDateType($event)">
          <option *ngFor="let item of dateTypeList" [value]="item.viewType">{{item.name}}</option>
        </select>
      </div>

      <div class="columns">
        <div class="column col-6">
          <dr-date [type]="'input'" [dateName]="'开始日期'" [nameShow]="false" [size]="'middle'"
            [viewType]="income.dateCycle" formControlName="startDate" [ngModel]="income.startDate"
            (ngModelChange)="onSetDate($event)"></dr-date>
        </div>
        <div class="column col-6">
          <dr-date [type]="'input'" [dateName]="'结束日期'" [nameShow]="false" [size]="'middle'"
            [viewType]="income.dateCycle" formControlName="endDate" [ngModel]="income.endDate">
          </dr-date>
        </div>
      </div>
    </div>

    <div class="columns detail">
      <participant-select [title]="'参与'" (setParticipantList)="onSetParticipantList($event)"
        [hasParticipantList]="participantList"></participant-select>
    </div>

    <div class="columns detail">
      <label-select [title]="'标签'" [type]="'1'" (setLabelList)="onSetLabelList($event)" [hasLabelList]="labelList">
      </label-select>
    </div>
    <div class="columns detail">
      <memo [title]="'备注'" [maxNumber]="500" formControlName="memo" [(ngModel)]="income.memo"></memo>
      <!-- <memo [title]="'备注'" [maxNumber]="500" [hasMemo]="memo" (setMemo)="onSetMemo($event)"></memo> -->
    </div>
  </form>

  <div class="dr-btn-group" *ngIf="!editOrDelFlag && addFlag">
    <button class="btn btn-primary" (click)="addIncome()">
      <i class="icon icon-plus"></i> 添加
    </button>
    <button class="btn btn-Secondary" (click)="reset()">
      <i class="icon icon-refresh"></i> 重置
    </button>
  </div>
  <div class="edit-del" *ngIf="editOrDelFlag && !addFlag">
    <div class="dr-btn-group">
      <button class="btn btn-primary" (click)="editIncome()">
        <i class="icon icon-edit"></i> 编辑
      </button>
      <button class="btn btn-error" (click)="delIncome()">
        <i class="icon icon-delete"></i> 删除
      </button>
    </div>
    <button class="btn btn-link go-add" (click)="goAdd()">
      <i class="icon icon-share"></i> 添加收入
    </button>
  </div>

</main>
