<main>
  <div class="expense-book">
    <ul>
      <li (click)="selectExpenseBook(item)" [style.border]="expenseBook?.id == item?.id ?'1px solid':''" *ngFor="let item of baseData?.expenseBookList">{{item?.name}}</li>
    </ul>
    <button (click)="addExpenseBook()">添加账本</button>
  </div>
  <form>
    <div>
      <label for="time">日期:</label>
      <input type="date" id="time">
    </div>

    <div class="address">
      <label for="address">地点:</label>

      <input type="text" id="address" name="address" [(ngModel)]="address" (focus)="isAddressShow=true" (blur)="blur('isAddressShow')">
      <ul *ngIf="isAddressShow">
        <li *ngFor="let item of baseData?.addressList" (click)="setAddress(item)">
          {{item?.province}}|{{item?.city}}|{{item?.area}}
        </li>
        <li (click)="addAddress()">添加地点</li>
      </ul>
    </div>

    <div class="address">
      <label for="catehory">支出类别:</label>
      <input type="text" id="catehory" name="expenseCategory" [(ngModel)]="expenseCategory" (focus)="isExpenseCategory=true"
        (blur)="blur('isExpenseCategory')">
      <ul *ngIf="isExpenseCategory">
        <li *ngFor="let item of baseData?.expenseCategoryList" (click)="setExpenseCategory(item)">
          {{item.name}}
        </li>
        <li (click)="addExpenseCategory()">添加支出类别</li>
      </ul>
    </div>

    <div class="address">
      <label for="fundParty">支出收款方:</label>
      <input type="text" id="fundParty" name="fundParty" [(ngModel)]="fundParty" (focus)="isFundParty=true" (blur)="blur('isFundParty')">
      <ul *ngIf="isFundParty">
        <li *ngFor="let item of (baseData?.fundPartyList | filterMap:'type':1 )" (click)="setFundParty(item)">
          {{item?.name}}
        </li>
        <li (click)="addFundParty()">添加支出收款方</li>
      </ul>
    </div>

    <div class="address">
      <label for="fundWay">付款方式:</label>
      <input type="text" id="fundWay" name="fundWay" [(ngModel)]="fundWay" (focus)="isFundWay=true" (blur)="blur('isFundWay')">
      <ul *ngIf="isFundWay">
        <li *ngFor="let item of baseData?.fundWayList" (click)="setFundWay(item)">
          {{item?.name}}
        </li>
        <li (click)="addFundWay()">添加支出付款方式</li>
      </ul>
    </div>

    <div class="address">
      <label for="fundAccount">付款账户:</label>
      <input type="text" id="fundAccount" name="fundAccount" [(ngModel)]="fundAccount" (focus)="isFundAccount=true"
        (blur)="blur('isFundAccount')">
      <ul *ngIf="isFundAccount">
        <li *ngFor="let item of (baseData?.fundAccountList | filterMap:'fundWayId':fundWayItem?.id)" (click)="setFundAccount(item)">
          {{item?.name}}
        </li>
        <li (click)="addFundAccount()">添加付款账户</li>
      </ul>
    </div>
    <div class="detail">
      <ul>
        <li [style.border]="expenseDetail == item ? '1px solid':''" *ngFor="let item of expenseDetaillist" (click)="selec(item)">{{item}}</li>

      </ul>
      <div class="content" *ngIf="expenseDetail == '内容'">
        <div>
          <label>支出内容:</label>
          <input type="text">
        </div>

        <div>
          <label>金额:</label>
          <input type="number">
          <span>元</span>
        </div>
      </div>

      <div class="participan" *ngIf="expenseDetail == '参与人'">
        <span>
          测试
          <i>×</i>
        </span>

        <span *ngIf="!isPrticipanInputShow" (click)="isPrticipanInputShow=!isPrticipanInputShows">+ 添加参与者</span>

        <div class="input" *ngIf="isPrticipanInputShow">
          <div>
            <input autofocus placeholder="添加参与者" (blur)="blur('isPrticipanInputShow')">
            <i>√</i>
          </div>
          <ul *ngIf="isPrticipanInputShow">
            <li *ngFor="let item of (baseData?.fundAccountList | filterMap:'fundWayId':fundWayItem?.id)" (click)="setFundAccount(item)">
              {{item?.name}}
            </li>
            <li (click)="addFundAccount()">添加付款账户</li>
          </ul>
        </div>

      </div>

      <div class="label" *ngIf="expenseDetail == '标签'">

      </div>

      <div class="memo" *ngIf="expenseDetail == '备注'">
        <textarea>

        </textarea>
      </div>
    </div>
  </form>
</main>
