<main id="expense-add-edit">
  <div class="expense-book">
    <expense-book-list name="expenseBook" [ngModel]="expense.expenseBookId" (ngModelChange)="onSetExpenseBook($event)">
    </expense-book-list>
  </div>
  <section>
    <form [formGroup]="expenseForm">
      <!-- 日期&支出地点 -->
      <div class="columns">
        <div class="column col-6">
          <dr-date [type]="'input'" [dateName]="'日期'" [nameShow]="true" [size]="'middle'" [viewType]="'day'"
            formControlName="expenseDate"></dr-date>
        </div>
        <!-- <div class="column col-6 has-error"> -->
        <div class="column col-6"
          [class.has-error]="expenseForm.get('address').errors && (expenseForm.get('address').dirty || expenseForm.get('address').touched)">
          <address-select formControlName="address" [(ngModel)]="expenseDetail.addressId"  [title]="'支出地点'">
          </address-select>
          <p class="form-input-hint"
            *ngIf="expenseForm.get('address').errors && (expenseForm.get('address').dirty || expenseForm.get('address').touched)">
            支出地点不能为空</p>
        </div>
      </div>

      <!-- 支出类别&收款方 -->
      <div class="columns">
        <div class="column col-6"
          [class.has-error]="expenseForm.get('expenseCategory').errors && (expenseForm.get('expenseCategory').dirty || expenseForm.get('expenseCategory').touched)">
          <expenseCategory-select [title]="'类别'" formControlName="expenseCategory" [expenseBook]="expenseBook"
            [(ngModel)]="expenseDetail.expenseCategoryId">
          </expenseCategory-select>

          <p class="form-input-hint"
            *ngIf="expenseForm.get('expenseCategory').errors && (expenseForm.get('expenseCategory').dirty || expenseForm.get('expenseCategory').touched)">
            支出类别不能为空
          </p>
        </div>
        <div class="column col-6"
          [class.has-error]="expenseForm.get('fundParty').errors && (expenseForm.get('fundParty').dirty || expenseForm.get('fundParty').touched)">
          <fund-party-select formControlName="fundParty" [(ngModel)]="expenseDetail.fundPartyId" [title]="'商家'"
            [type]="1">
          </fund-party-select>
          <p class="form-input-hint"
            *ngIf="expenseForm.get('fundParty').errors && (expenseForm.get('fundParty').dirty || expenseForm.get('fundParty').touched)">
            商家不能为空
          </p>
        </div>
      </div>

      <!-- 付款渠道&付款账户 -->
      <div class="columns">
        <div class="column col-6"
          [class.has-error]="expenseForm.get('fundChannel').errors && (expenseForm.get('fundChannel').dirty || expenseForm.get('fundChannel').touched)">
          <fundChannel-select formControlName="fundChannel" [(ngModel)]="expenseDetail.fundChannelId" [title]="'渠道'">
          </fundChannel-select>
          <p class="form-input-hint"
            *ngIf="expenseForm.get('fundChannel').errors && (expenseForm.get('fundChannel').dirty || expenseForm.get('fundChannel').touched)">
            支付渠道不能为空
          </p>
        </div>
        <div class="column col-6"
          [class.has-error]="expenseForm.get('fundAccount').errors && (expenseForm.get('fundAccount').dirty || expenseForm.get('fundAccount').touched)">
          <fund-account-select formControlName="fundAccount" [title]="'账户'"
            [fundChannelId]="expenseDetail.fundChannelId" [(ngModel)]="expenseDetail.fundAccountId" [filterCredit]="false">
          </fund-account-select>
          <p class="form-input-hint"
            *ngIf="expenseForm.get('fundAccount').errors && (expenseForm.get('fundAccount').dirty || expenseForm.get('fundAccount').touched)">
            支付账户不能为空
          </p>
        </div>
      </div>
      <fieldset>
        <legend>支出明细</legend>
        <div class="columns">
          <div class="form-group column col-6"
            [class.has-error]="expenseForm.get('content').errors && (expenseForm.get('content').dirty || expenseForm.get('content').touched)">
            <input class="form-input" type="text" formControlName="content" [(ngModel)]="expenseDetail.content"
              placeholder="支出内容" #contentInputEle>
            <p class="form-input-hint"
              *ngIf="expenseForm.get('content').errors && (expenseForm.get('content').dirty || expenseForm.get('content').touched)">
              支出内容不能为空
            </p>
          </div>
          <div class="column col-6"
            [class.has-error]="expenseForm.get('amount').errors && (expenseForm.get('amount').dirty || expenseForm.get('amount').touched)">
            <div class="input-group">
              <input class="form-input" formControlName="amount" [(ngModel)]="expenseDetail.amount" type="number"
                step="0.01" placeholder="支出金额" #amountInputEle>
              <span class="input-group-addon">元</span>
            </div>
            <p class="form-input-hint"
              *ngIf="expenseForm.get('amount').errors && (expenseForm.get('amount').dirty || expenseForm.get('amount').touched)">
              支出金额不能为空
            </p>
          </div>
        </div>
        <div class="columns detail">
          <participant-select [title]="'参与'" (setParticipantList)="onSetParticipantList($event)"
            [hasParticipantList]="participantList"></participant-select>
        </div>
        <div class="columns detail">
          <label-select [title]="'标签'" [type]="'1'" (setLabelList)="onSetLabelList($event)" [hasLabelList]="labelList">
          </label-select>
        </div>
        <div class="columns detail">
          <memo [title]="'备注'" [maxNumber]="500" [hasMemo]="memo" (setMemo)="onSetMemo($event)"></memo>
        </div>
      </fieldset>
    </form>
    <div class="dr-btn-group" *ngIf="!editOrDelFlag && addFlag">
      <button tabindex="-1" type="button" class="btn btn-primary" (click)="addExpense()">
        <i class="icon icon-plus"></i> 添加
      </button>
      <button tabindex="-1" type="button" class="btn btn-Secondary" (click)="reset()">
        <i class="icon icon-refresh"></i> 重置
      </button>
    </div>
    <div class="edit-del" *ngIf="editOrDelFlag && !addFlag">
      <div class="dr-btn-group">
        <button tabindex="-1" type="button" class="btn btn-primary" (click)="editExpense()">
          <i class="icon icon-edit"></i> 编辑
        </button>
        <button tabindex="-1" type="button" class="btn btn-error" (click)="delExpense()">
          <i class="icon icon-delete"></i> 删除
        </button>
      </div>
      <button tabindex="-1" class="btn btn-link go-add" (click)="goAdd()">
        <i class="icon icon-share"></i> 添加支出
      </button>
    </div>
  </section>

</main>
