:host {
  flex-grow: 1;
}

main {
  display: flex;
  margin: 10px;
  position: relative;
  height: 100%;
}


section {
  flex-grow: 1;
  position: relative;
  left: -1px;
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid #4b48d6;
}

main {
  height: 100%;

  .expense-book {
    width: 70px;
    height: 100%;
    float: left;
    overflow-y: hidden;
  }

  form {
    // flex-grow: 1;
    display: flex;
    flex-direction: column;

    fieldset {
      border-top: 1px dashed #4b48d6;
      flex-grow: 1;
      margin-top: 10px;

      legend {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 10px;
      }

      .detail {
        margin: 10px 0;
      }
    }
  }

  .dr-btn-group {
    display: flex;
    align-items: center;
    margin: 10px 20px;
    justify-content: center;

    button {
      margin-right: 20px;
      font-size: 14px;
      // width: 100px;
    }
  }

  .edit-del {
    display: flex;
    align-items: center;
    // margin: 0 20px;
    justify-content: center;

    .btn-group {
      margin: 10px 0px;
    }
  }

  .go-add {
    position: absolute;
    right: 0;
    font-size: 14px;
  }
}
