<main>
  <div class="expense-book">
    <expense-book-list (setExpenseBook)="onSetExpenseBook($event)"></expense-book-list>
    <!-- <ul>
      <li (click)="selectExpenseBook(item)" [style.border]="expenseBook?.id == item?.id ?'1px solid':''" *ngFor="let item of baseData?.expenseBookList">{{item?.name}}</li>
    </ul>
    <button (click)="addExpenseBook()">添加账本</button> -->
  </div>

  <section [style.border]="expenseBook?.border">
    <form>
      <div class="columns">
        <div class="column col-6">
          <dr-date></dr-date>
        </div>
        <div class="column col-6">
          <address-select [title]="'支出地点'" [addressId]="addressId" (setAddress)="onSetAddress($event)"></address-select>
        </div>
      </div>

      <div class="columns">
        <div class="column col-6">
          <expenseCategory-select [title]="'支出类别'" [expenseBook]="expenseBook" (setCategory)="onSetCategory($event)"
            [expenseCategoryId]="expenseCategoryId"></expenseCategory-select>
        </div>
        <div class="column col-6">
          <fund-party-select [title]="'收款方'" [type]="1" (setFundParty)="onSetFundParty($event)"
            [fundPartyId]="fundPartyId">
          </fund-party-select>
        </div>
      </div>

      <div class="columns">
        <div class="column col-6">
          <fundChannel-select [title]="'付款渠道'" (setFundChannel)="onSetsetFundChannel($event)"
            [fundChannelId]="fundChannelId"></fundChannel-select>
        </div>
        <div class="column col-6">
          <fund-account-select [title]="'付款账户'" [fundChannelId]="fundChannelId"
            (setFundAccount)="onSetFundAccount($event)" [filterCredit]="false" [fundAccountId]="fundAccountId">
          </fund-account-select>
        </div>
      </div>
      <fieldset>
        <legend>支出明细</legend>
        <div class="columns">
          <div class="form-group column col-6">
            <input class="form-input" type="text" name="content" placeholder="支出内容" [(ngModel)]="content">
          </div>
          <div class="column col-6">
            <div class="input-group">
              <input class="form-input" type="text" placeholder="支出金额" name="amount" [(ngModel)]="amount">
              <span class="input-group-addon">元</span>
            </div>
          </div>
        </div>
        <div class="columns detail">
          <participant-select [title]="'参与'" (setParticipantList)="onSetParticipantList($event)"
            [hasParticipantList]="participantList"></participant-select>
        </div>
        <div class="columns detail">
          <label-select [title]="'标签'" [type]="'1'" (setLabelList)="onSetLabelList($event)" [hasLabelList]="labelList">
          </label-select>
        </div>
        <div class="columns detail">
          <memo [title]="'备注'" [maxNumber]="500" (setMemo)="onSetMemo($event)"></memo>
        </div>
      </fieldset>
    </form>

    <div class="dr-btn-group" *ngIf="!editOrDelFlag && addFlag">
      <button (click)="addExpense()">添加支出</button>
      <button (click)="reset()">重置</button>
    </div>

    <div class="edit-del" *ngIf="editOrDelFlag && !addFlag">
      <div class="dr-btn-group">
        <button (click)="editExpense()">编辑</button>
        <button (click)="delExpense()">删除</button>
      </div>
      <a (click)="goAdd()">&gt;&gt;添加支出</a>
    </div>
  </section>

</main>
