:host {
  flex-grow: 1;
}

main {
  display: flex;
  -webkit-app-region: no-drag;
  margin: 10px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

section {
  flex-grow: 1;
  position: relative;
  left: -1px;
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

input[type="date"] {
  height: 23px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px dashed;
  outline: none;
}

main {
  height: 100%;

  .expense-book {
    width: 70px;
    height: 100%;
    float: left;
    overflow-y: hidden;
  }

  form {
    // padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;

    div {
      display: flex;
      flex-direction: column;
    }

    .address {
      position: relative;
    }

    .detail {
      grid-column: span 2;
      grid-row: span 3;
      border: 1px dashed;

      ul {
        display: inline-flex;
        width: 100%;
        margin-bottom: 12px;
        border-bottom: 2px solid #efefef;

        .detail-item {
          height: 40px;
          padding: 0 24px;
          cursor: pointer;
          box-sizing: border-box;
          opacity: .6;
          text-align: center;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          white-space: nowrap;
          vertical-align: top;
          text-decoration: none;
          position: relative;
          overflow: hidden;
          -webkit-tap-highlight-color: transparent;
          cursor: pointer;
        }
      }

      .content {
        display: flex;
        flex-direction: row;
        justify-content: center;

        input {
          width: 150px;
        }

        div {
          display: flex;
          flex-direction: row;
        }
      }

      .participan {
        display: flex;
        flex-direction: row;
        padding: 0 10px;

        span {
          margin: 0 4px;
          border: 1px dashed #dedede;
          padding: 5px;
          cursor: pointer;
          position: relative;

          &:hover {
            i {
              display: inline-flex;
            }
          }

          i {
            display: none;
            position: absolute;
            right: -5px;
            top: -10px;
            font-size: 16px;
            background: red;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }

        }

        .input {
          display: flex;
          flex-direction: column;
          position: relative;

          input {
            border: none;
            border-bottom: 1px solid;
            width: 150px;
            height: 100%;

            &:focus {
              outline: none;
            }
          }

          ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 26px;
            width: 100%;
            background: #efefef;
            border: 1px solid;
            z-index: 9999;

            li {
              cursor: pointer;
            }
          }

        }

      }

      .label {
        display: flex;
        flex-direction: row;
        padding: 0 10px;

        span {
          margin: 0 4px;
          border: 1px dashed #dedede;
          padding: 5px;
          cursor: pointer;
          position: relative;

          &:hover {
            i {
              display: inline-flex;
            }
          }

          i {
            display: none;
            position: absolute;
            right: -5px;
            top: -10px;
            font-size: 16px;
            background: red;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }

        }

        .input {
          display: flex;
          flex-direction: column;
          position: relative;

          div {
            flex-direction: row;
            height: 100%;
            align-items: center;
            position: relative;

            input {
              border: none;
              border-bottom: 1px solid;
              width: 120px;
              height: 100%;
              min-height: 32px;
              padding: 0;
              padding-right: 30px;

              &:focus {
                outline: none;
              }
            }

            i {
              width: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              right: 30px;
              position: relative;
              cursor: pointer;
              height: 100%;
              background: #efefef;
              top: 0px;
            }
          }

          ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 30px;
            width: 100%;
            background: #efefef;
            border: 1px solid;
            z-index: 9999;

            li {
              cursor: pointer;
            }
          }

        }

      }

      .memo {
        align-items: center;

        textarea {
          width: 96%;
          height: 60px;
        }
      }
    }
  }

  .dr-btn-group {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 10px 20px;
    justify-content: center;

    button {
      margin-right: 20px;
    }
  }

  .edit-del {
    display: flex;
    align-items: center;
    margin: 0 20px;

    .btn-group {
      margin: 10px 0px;
    }

    a {
      cursor: pointer;
    }
  }
}
