:host {
  flex-grow: 1;
}

main {
  .expense-book {
    display: flex;
    align-items: stretch;
    padding: 0 20px;

    ul {
      display: inline-flex;
      overflow: auto;
      flex-grow: 1;
      width: 200px;

      li {
        margin-right: 20px;
        display: inline-block;
        white-space: nowrap;
        cursor: pointer;
      }
    }
  }

  form {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;

    div {
      display: flex;
      flex-direction: column;
    }

    .address {
      position: relative;

      ul {
        position: absolute;
        top: 43px;
        width: 100%;
        background: #efefef;
        border: 1px solid;
        z-index: 9999;

        li {
          cursor: pointer;
        }
      }
    }

    .detail {
      grid-column: span 2;
      grid-row: span 3;
      border: 1px solid;

      ul {
        display: inline-flex;
        width: 100%;
        margin: 4px 0;

        li {
          margin: 0 10px;
          cursor: pointer;
          padding: 5px;
        }
      }

      .content {
        display: flex;
        flex-direction: row;
        justify-content: center;

        div {
          display: flex;
          flex-direction: row;
        }
      }

      .participan {
        display: flex;
        flex-direction: row;
        padding: 0 10px;

        span {
          margin: 0 4px;
          border: 1px dashed #dedede;
          padding: 5px;
          cursor: pointer;
          position: relative;

          &:hover {
            i {
              display: inline-flex;
            }
          }

          i {
            display: none;
            position: absolute;
            right: -5px;
            top: -10px;
            font-size: 16px;
            background: red;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }

        }

        .input {
          display: flex;
          flex-direction: column;
          position: relative;
          input {
            border: none;
            border-bottom: 1px solid;
            width: 150px;
            height: 100%;
            &:focus {
              outline: none;
            }
          }
        
          ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 26px;
            width: 100%;
            background: #efefef;
            border: 1px solid;
            z-index: 9999;

            li {
              cursor: pointer;
            }
          }

        }

      }


    }
  }
}
