main {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
  -webkit-app-region: no-drag;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

main>ul {
  flex-grow: 1;
  border: 1px solid #dedede;
  border-radius: 0px 0 3px 3px;
  border-top: none;
  font-size: 14px;
}


.month-income {
  height: 44px;
  display: flex;
  background: #5755d9;
  border: 1px solid #5755d9;
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7px;

}

.month-income>span:first-of-type {
  display: inline-flex;
  cursor: pointer;
  align-items: center;

  i {
    margin-right: 5px;
  }
}

.income-list ul {
  border: 1px solid #dedede;
  border-bottom: none;
}

.income-list ul:first-of-type {
  border-top: none;
}

.income-list ul:last-of-type {
  border-bottom: none;
}

.income-list>li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dedede;
}


.income-detail ul>li {
  border-bottom: 1px solid #dedede;
}

.income-detail ul>li:last-of-type {
  border-bottom: none;
}

.income-detail ul {
  border: 1px solid #dedede;
  border-bottom: none;
}

.income-detail ul:first-of-type {
  border-top: none;
}

.income-detail ul:last-of-type {
  border-bottom: none;
}

.income-category {
  padding: 0 5px;
  width: 70px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}


.income-detail {
  flex-grow: 1;

  li {
    cursor: pointer;

    &:hover {
      background: #dedede;
    }

    div {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      width: 100%;

      &:first-of-type {
        border-bottom: 1px dashed #dedede;
      }

      span {
        flex-grow: 1;
        margin: 3px 2px;

        &:first-of-type {
          width: 40%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        &:last-of-type {
          text-align: right;
          width: 40%
        }
      }
    }
  }
}

.no-income {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-top: 20%;
}
