<main>
  <div class="month-income">
    <dr-date [type]="'text'" [viewType]="'day'" [nameShow]="true" [name]="" [initDate]="date" (setDate)="changeDate($event)"></dr-date>
    <span>
      总计: {{incomeService?.totalMonthAmount}}元
    </span>
  </div>
  <div class="no-income" *ngIf="!(incomeService?.incomeList && incomeService?.incomeList.length)">
    当前没有收入
  </div>
  <ul class="income-list" *ngIf="incomeService?.incomeList && incomeService?.incomeList.length">
    <li *ngFor="let group of incomeService?.groupIncomeList">
      <div class="income-category">
        {{group.name}}
      </div>
      <div class="income-detail">
        <ul>
          <li *ngFor="let detail of group.list" (click)="edit(detail)">
            <div>
              <span>{{detail.fundPartyName}}</span>
              <span>{{detail.addressName}}</span>
            </div>
            <div>
              <span>+{{detail.amount}}元</span>
              <span>一个月</span>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</main>
