:host {
  z-index: 100;
}

main {
  display: flex;
  flex-direction: row;
  min-height: 40px;
  -webkit-app-region: no-drag !important;
}

.modal {
  -webkit-app-region: no-drag !important;
}

.modal-container .modal-header {
  padding: .4rem;
}

.modal-container .modal-body {
  padding: 0;
}

.filter {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin: 5px;
}

.filter-date {
  display: flex;
  align-items: flex-end;

  select {
    width: auto;
    margin-right: 5px;
  }

  .date {
    display: flex;
  }
}

a,
button {
  border-radius: 0;
}

.options button:first-of-type {
  margin-right: 5px;
}

.modal-footer button:first-of-type {
  margin-right: 5px;
}
