:host {
  z-index: 100;
}

main {
  display: flex;
  flex-direction: row;
  min-height: 40px;
}

section {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #efefef;
  box-sizing: border-box;
}

.filter {
  cursor: pointer;
  position: relative;
  min-width: 125px;
  min-height: 40px;

  span {
    height: 100%;
    display: inline-flex;
    border: 1px dashed;
    text-align: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

ul {
  max-height: 125px;
  overflow-y: auto;
  width: 100%;
  min-width: 140px;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 1000;
  position: absolute;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  background: #fff;

  li {
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    padding: 0 10px;
    display: flex;
    align-items: center;

    span {
      margin-left: 5px;
    }

    &:hover {
      background: #f5f5f5;
    }
  }
}
