:host {
  width: 100%;
}

main {
  display: flex;
  flex-direction: row;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  span {
    font-size: 14px;
    color: #bcc3ce;
  }
}
