<main>
  <form>
    <div class="form-item">
      <label class="form-label" for="input-example-1">{{title}}</label>
      <div class="has-icon-left" #expenseCategoryListEle>
        <input type="text" #expenseCategoryInputEle class="form-input" placeholder="请选择支出类别" name="expenseCategory"
          [(ngModel)]="expenseCategory" autocomplete="off" id="expenseCategory-list">
        <i class="form-icon fa fa-th-large" aria-hidden="true"></i>
      </div>
      <ul class="menu" id="expenseCategory-ul" [style.display]="ulShow === true ? 'block':'none'">
        <li [id]="item.id" class="menu-item" *ngFor="let item of list" (click)="selectItem(item)">
          <a class="text-ellipsis" [class.li-selected]="expenseCategory === item.name">{{item?.name}}</a>
          <p class="add-edit">
            <i class="icon icon-edit"></i>
            <i class="icon icon-delete"></i>
          </p>
        </li>
        <li class="menu-item add">
          <button type="button" tabindex="-1" class="btn btn-primary btn-sm" (click)="add($event)"><i class="icon icon-plus"></i>
            添加支出类别</button>
        </li>
      </ul>
    </div>
  </form>
</main>
