:host {
  flex-grow: 1;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 26px;
}

.content {
  flex-grow: 1;
  display: flex;
  width: 20px;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px 0;

  input {
    border: 1px solid #d9d9d9;
    margin: 2px 4px;
    border-radius: 4px;
    width: 75px;
    height: 22px;
    padding-left: 4px;

    &:focus {
      border: 1px solid #2db7f5;
      outline: none;
    }
  }

  .label {
    box-sizing: border-box;
    margin: 2px 4px;
    padding: 0 7px;
    list-style: none;
    display: inline-block;
    line-height: 24px;
    height: 26px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    background: #fafafa;
    font-size: 12px;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
    opacity: 1;
    cursor: pointer;
    white-space: nowrap;

    i::before {
      content: '×';
    }

    i {
      display: inline-flex;
      width: 12px;
      height: 12px;
      margin-left: 3px;
      align-items: center;
      justify-content: center;

      &:hover {
        border-radius: 50%;
        background: #000;
        border-radius: 50%;
        color: #fff;
      }
    }
  }

  .add-label {
    box-sizing: border-box;
    margin: 2px 4px;
    padding: 0 7px;
    list-style: none;
    display: inline-block;
    line-height: 24px;
    height: 26px;
    border-radius: 4px;
    border: 1px dashed #d9d9d9;
    background: #fff;
    font-size: 12px;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
    opacity: 1;
    cursor: pointer;
    white-space: nowrap;
  }
}

.content {
  flex-grow: 1;
  display: flex;
  width: 20px;
  align-items: center;
}
