<main>
  <ul tabindex="0">
    <li (click)="select(item)" *ngFor="let item of expenseBookList;"
      [class.selected]="selectedExpenseBook?.id===item?.id"
      [style.background]="(selectedExpenseBook?.id===item?.id) ? '#fff':''"
      [style.border]="(selectedExpenseBook?.id===item?.id) ? item.border:''"
      [style.border-right]="(selectedExpenseBook?.id===item?.id) ? 'none':''">
      <span [style.color]="item.backgroundColor">
        {{item.name}}
      </span>
    </li>
  </ul>

  <div (click)="addExpenseBook()">
    <span>
      添加账本
    </span>
  </div>
</main>