<main>
  <p>添加资金账户</p>
  <form>
    <div>
      <label>
        资金来往渠道:
      </label>
      <div>
        <div #divClick class="select">
          <input disabled placeholder="请绑定渠道" name="fundChannelName" [(ngModel)]="fundChannelName">
          <i class="down-triangle"></i>
        </div>
        <ul #ulClick [style.display]="isListShow?'block':'none'">
          <li *ngFor="let item of fundChannelList">
            <input type="checkbox" [ngModel]="item.selected" name="selected" (ngModelChange)="select($event,item)"><span>{{item?.name}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="input">
      <label>
        资金账户:
      </label>
      <input type="text" name="name" [(ngModel)]="fundAccount.name">
    </div>

    <div class="input">
      <label>
        账户余额:
      </label>
      <input type="number" [disabled]="fundAccount.isCredit" name="balance" [(ngModel)]="fundAccount.balance">
    </div>

    <div class="input" style="flex-direction: row;">
      <input type="checkbox" name="isCredit" [ngModel]="fundAccount.isCredit" (ngModelChange)="setIsCredit($event)">
      <label>账户是否信贷</label>
    </div>

    <fieldset *ngIf="fundAccount.isCredit">
      <legend>信贷数据</legend>
      <div class="input">
        <label>
          信用额度:
        </label>
        <input type="number" name="creditAmount" [ngModel]="creditAccount.creditAmount" (ngModelChange)="setCreditAmount($event)">
      </div>

      <div class="input">
        <label>
          已使用额度:
        </label>
        <input type="number" name="usedAmount" [ngModel]="creditAccount.usedAmount" (ngModelChange)="setUsedAmount($event)">
      </div>

      <div class="input">
        <label>
          账单日:
        </label>
        <select name="billDay" [(ngModel)]="creditAccount.billDay">
          <option *ngFor="let item of numbers" name="item" [value]="item">{{item}}</option>
        </select>
      </div>

      <div class="input">
        <label>
          还款日:
        </label>
        <select name="repaymentDay" [(ngModel)]="creditAccount.repaymentDay">
          <option *ngFor="let item of numbers" name="item" [value]="item">{{item}}</option>
        </select>
        <!-- <input type="date" name="repaymentDay" [(ngModel)]="creditAccount.repaymentDay"> -->
      </div>
    </fieldset>

    <div class="btn-group">
      <button (click)="add()">添加</button>
      <button (click)="cancel()">取消</button>
    </div>
  </form>
</main>
