@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-app-region: drag
}

button,
input,
ul,
li,
textarea,
select,
span,
i,
label {
  -webkit-app-region: no-drag;
}

label {
  font-size: 14px;
}


input[type=date]::-webkit-clear-button {
  visibility: hidden;
}

// 控制日期的上下
input[type=date]::-webkit-inner-spin-button {
  visibility: hidden;
}

input[type=date]::-webkit-inner-spin-button {
  visibility: hidden;
}

input[type=month]::-webkit-clear-button {
  visibility: hidden;
}

// 控制日期的上下
input[type=month]::-webkit-inner-spin-button {
  visibility: hidden;
}

input[type=month]::-webkit-inner-spin-button {
  visibility: hidden;
}

// 向上的三角形
.down-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8.7px 5px 0 5px;
  border-color: #00adb5 transparent transparent transparent;
}


button {
  cursor: pointer;
}

// 下面都是ag-grid的样式


// 修改头部的那个border没有充满
.ag-ltr .ag-header-cell {
  border-right: 1px solid #b7b7b7;
}

.ag-header-cell::after,
.ag-header-group-cell::after {
  border: 0 !important;
}

.ag-cell {
  /* border-right: 1px solid #dfdfdf !important;
    border-bottom: 1px solid #dfdfdf !important; */
  border-right: 1px dotted #808080 !important;
  // border-bottom: 1px solid #dedede !important;
}

.ag-ltr .ag-cell-focus {
  border: 1px solid #0091EA !important;
}
