@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-app-region: drag
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 930px;
  height: 650px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
}




button,
input,
ul,
li,
textarea,
select,
span,
i,
label {
  -webkit-app-region: no-drag !important;
}

button {
  cursor: pointer;
}

label {
  font-size: 14px;
}

// 向上的三角形
.down-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8.7px 5px 0 5px;
  border-color: #00adb5 transparent transparent transparent;
}

.glabal-notify {
  top: 10px;
  position: absolute;
  left: 40%;
  z-index: 10000;
  /* min-width: 200px; */
  /* max-width: 400px; */
  width: 200px !important;
  max-width: 400px;
}

.glabal-notify-icon {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center
}

.form-input-hint {
  padding: 0;
  margin: 0;
  font-size: .6rem !important;
}

.column {
  margin-bottom: .5rem;
}

.form-input-hint {
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
}

.form-label {
  padding: 0 !important;
  padding-top: .3rem !important;
}


// 下面都是ag-grid的样式


// 修改头部的那个border没有充满
// .ag-ltr .ag-header-cell {
//   border-right: 1px solid #b7b7b7;
// }

// .ag-header-cell::after,
// .ag-header-group-cell::after {
//   border: 0 !important;
// }

// .ag-cell {
//   /* border-right: 1px solid #dfdfdf !important;
//     border-bottom: 1px solid #dfdfdf !important; */
//   border-right: 1px dotted #808080 !important;
//   // border-bottom: 1px solid #dedede !important;
// }

// .ag-ltr .ag-cell-focus {
//   border: 1px solid #0091EA !important;
// }
