<main>

  <div class="avatar-header">
    <img src="assets/img/logo.svg">
    <h5 _ngcontent-c5=""><span>D</span>aily<span>R</span>eocrd</h5>
  </div>

  <ul class="nav">
    <li class="nav-item" (click)="clickItem(item)" [class.active]="item?.name === selectedItem?.name"
      *ngFor="let item of NAV_CONFIG">
      <span>
        <i [class]="'fa ' +item.icon" aria-hidden="true"></i>
        <a>
          {{item.name}}
          <i *ngIf="item.subList && item.subList.length" [class]="(item?.name === selectedItem?.name) ? 'icon icon-arrow-down':'
          icon icon-arrow-right'"></i>
        </a>
      </span>

      <ul *ngIf="item.subList && item.subList.length"
        [style.display]="(item?.name === selectedItem?.name) ? 'block':'none'" class="nav">
        <li class="nav-item" [class.selected]="subItem?.name === selectedSubItem?.name"
          *ngFor="let subItem of item.subList" (click)="clickSubItem(item,subItem,$event)">
          <a>{{subItem.name}}</a>
        </li>
      </ul>
    </li>
  </ul>

  <!-- <button (click)="logout()" class="btn btn-link">
    <i class="icon icon-shutdown"></i>
    退 出</button> -->
</main>
