main {
  width: 160px;
  height: 100%;
  background: #f7f8f9;
  // -webkit-app-region: no-drag;
  display: flex;
  flex-direction: column;

  .app-option {
    position: absolute;
    left: .2rem;
    top: .2rem;

    button {
      background: #f7f8f9;
      color: #4b48d6;
      border: none;

      &:hover {
        background: #4b48d6;
        color: #f7f8f9;
      }
    }


  }

  .avatar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;

    p {
      width: 100%;
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      margin: 20px 0;
    }
  }

  li,
  button {
    cursor: pointer;
  }

  a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li span {
    display: flex;
    align-items: center;

  }
}

main>ul {
  padding-left: 10px;
  flex-grow: 1
}

.nav-item {
  position: relative;
}

.selected:before {
  content: '';
  position: absolute;
  left: -4px;
  top: 6px;
  border-left: 2px solid #3457dd;
  height: 20px;
}
