main {
  width: 160px;
  height: 100%;
  background: #f7f8f9;
  // -webkit-app-region: no-drag;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #fff;
  z-index: 100;
  position: relative;
  left: -6px;

  .avatar-header {
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;

    img {
      width: 68px;
      height: 68px;
    }

    h5 {
      color: #66758c;

      span {
        color: #4b48d6;
      }
    }

    // p {
    //   width: 100%;
    //   align-items: center;
    //   justify-content: space-evenly;
    //   display: flex;
    //   margin: 20px 0;
    // }
  }

  li,
  button {
    cursor: pointer;
  }

  a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li span {
    display: flex;
    align-items: center;

  }
}

main>ul {
  padding-left: 10px;
  flex-grow: 1
}

.nav-item {
  position: relative;
}

.selected:before {
  content: '';
  position: absolute;
  left: -4px;
  top: 6px;
  border-left: 2px solid #3457dd;
  height: 20px;
}
