<main>
  <p>{{user.name}}</p>

  <ul class="nav">
    <li class="nav-item">
      <span>
        <i class="fa fa-home" aria-hidden="true"></i>
        <a>首页</a>
      </span>
    </li>
    <li class="nav-item active">
      <span>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <a>记账 <i class="icon icon-arrow-down"></i></a>
      </span>
      <ul class="nav">
        <li class="nav-item selected" (click)="toExpense()">
          <a>支出</a>
        </li>
        <li class="nav-item" (click)="toIncome()">
          <a>收入</a>
        </li>
        <li class="nav-item">
          <a>借还</a>
        </li>
        <li class="nav-item">
          <a>转账</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <span>
        <i class="fa fa-area-chart" aria-hidden="true"></i>
        <a>报表 <i class="icon icon-arrow-right"></i></a>
      </span>
      <ul class="nav d-hide">
        <li class="nav-item">
          <a>支出明细</a>
        </li>
        <li class="nav-item">
          <a>支出汇总</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <span>
        <i class="fa fa-cog" aria-hidden="true"></i>
        <a>设置</a>
      </span>
    </li>
  </ul>
  <button (click)="logout()">退 出</button>
</main>
